body{
font-family:Arial;
background:linear-gradient(135deg,#4facfe,#00f2fe);
height:100vh;
display:flex;
align-items:center;
justify-content:center;
margin:0;
}

.container{
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 8px 20px rgba(0,0,0,0.2);
width:350px;
}

h2{
text-align:center;
}

label{
font-weight:bold;
margin-top:10px;
display:block;
}

input, textarea{
width:100%;
padding:10px;
margin-top:5px;
border-radius:6px;
border:1px solid #ccc;
}

button{
width:100%;
padding:12px;
margin-top:20px;
background:#4facfe;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}

button:hover{
background:#2f80ed;
}

#loading{
display:none;
text-align:center;
margin-top:10px;
}

#success{
display:none;
color:green;
text-align:center;
margin-top:10px;
}